*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/countrypicker/build/
/skeleton/build/
/.idea
/.idea/misc.xml
/build-cache
/buildSrc/build/*
/gradlew.bat
*.bat
